<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epic Story</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="header item"><i class="icon book"></i> Epic Story</a>
            <a class="item" v-if="authenticated">Story</a>
            <a class="item" v-if="authenticated">Share</a>
            <a class="item" v-if="authenticated">Simple</a>
            <div class="right item">
              <button class="ui register inverted button" v-if="authenticated" v-on:click="logout()">Logout</button>
              <button class="ui inverted button" v-if="!authenticated" v-on:click="login()"><i class="icon sign in"></i>Login</button>
              <button class="ui inverted button" v-if="!authenticated" v-on:click="register()">Register</button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='landing'">
        <img class="ui image massive centered" src="pic1.jpg" alt="">
      </div>
      <div v-if="page=='login'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui teal header">
              <div class="content">
                Log-in to your account
              </div>
            </h2>
            <div class="ui large form">
              <div class="ui stacked segment">
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" v-model='username' required>
                  </div>
                </div>
                <div class="field required">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" v-model='password' required>
                  </div>
                </div>
                <div class="ui fluid large teal button" v-on:click="signin()">Login</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='register'">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui green header">
              <div class="content">
                Register new Account
              </div>
            </h2>
            <div class="ui large form" id="registerIt">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" v-model='username' required>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="email" name="email" placeholder="Email" v-model='email' required>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" v-model='password' required>
                  </div>
                </div>
                <div class="ui fluid large green button" v-on:click="signup()">REGISTER</div>
              </div>
              <div class="ui error message"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="page=='home'">
        <div class="ui text centered align container">
          <button class="button ui massive" v-on:click="startgame()">Get Started</button>
        </div>
      </div>
      <div v-if="page=='play'">
        <br><br><br><br>
        <div class="ui text container">
          <h1>Number Guess : {{guess}}</h1>
          <h1>Number Success : {{success}}</h1>
        </div>
        <div class="ui grid container">
          <div class="four wide column" v-for="(item, index) in items">
            <div class="ui segment" v-on:click="openCard(item.image, item.pair, index)">
              <img class="ui centered small image" style="height: 250px" v-bind:src="item.image" v-if="item.isShow">
              <img class="ui centered small image" style="height: 250px" src="asset/s0.jpeg" v-if="!item.isShow">
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="vue.js"></script>
  </body>
</html>
